<img class="fix" src=" /assets/ParkNarkCenter.png "alt="Smiley face"  height="81px" width="82%" onmouseover="this.src=' /assets/ParkNarkRight.gif '" onmouseout="this.src=' /assets/ParkNarkCenter.png '"class="img-responsive center-block">
<% if notice || alert %>
<div class="disappear">
	<p id="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</div>
<% end %>

<div class="form-n">
	<%= render 'form' %>
</div>

<div class="back-n">
	<%= link_to 'Back', sightings_path %>
</div>
