



<!-- THIS PAGE HAS MOVED TO VIEWS/USERS/SESSIONS/NEW.HTML.ERB -->

<!-- ==================================================================
==================================================================
================================================================== -->






<!-- <div id="storefront">
  <div id="signimage">
    <div id="siteform">


      <h1 class="green">ParkNark</h1>
      <h3 class="green">Sign Up to Receive Alerts</h3>

      <div id="map"></div>

      <div class="signin-bottom">
        <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="signin-bottom-l">

            <div class="field">
              <#%= f.email_field :email, autofocus: true, :placeholder => "Email" %>
            </div>

            <div class="field">
              <%#= f.password_field :password, autocomplete: "off", :placeholder => "Password" %>
            </div>

            <%# if devise_mapping.rememberable? -%>
              <div class="field">
                <%#= f.check_box :remember_me %>
                <%#= f.label :remember_me %>
              </div>
            <%# end -%>

            <div class="actions">
              <%#= f.submit "Log in" %>
            </div>
            <%# end %>

          </div>

          <div class="signin-bottom-r">
            <%#= render "devise/shared/links" %>
          </div>

      </div>

    </div>
  </div>
</div>
 -->