<%= include_gon %>         
<div class="container-il">
  <div class="top-tab">
    <p>YOUR CURRENT SCOPE</p>
  </div>
  <div id="map"></div>
</div>

<div>
  <p><%= link_to 'New Interest location', new_interest_location_path %></p>
  <p><%= link_to "Your Profile", sightings_path %></p>
</div>
