<img class="fix" src=" /assets/ParkNarkCenter.png "alt="Smiley face"  height="81px" width="82%" onmouseover="this.src=' /assets/ParkNarkRight.gif '" onmouseout="this.src=' /assets/ParkNarkCenter.png '"class="img-responsive center-block">

<div class="form-iln">
	<%= render 'form' %>
</div>

<div class="bottom-iln">
	<p><%= link_to 'Back', interest_locations_path %></p>
	<p><%= link_to 'Profile', sightings_path %></p>
</div>