<div id="storefront">
  <div id="signimage">
    <div id="siteform">

		<h1>New Interest Location</h1>

		<%= render 'form' %>

		<p><%= link_to 'Back', interest_locations_path %></p>
		<p><%= link_to 'Profile', sightings_path %></p>
	</div>
  </div>
</div>  