/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#homepage_container, #container-s {
	display: inline-flex;
}

#map {
	height: 300px;
	width: 300px;
	border: 5px solid black;
	margin-left: 40px;
}

#sign_in, #container-sl {
	border: 5px solid red;
	border-radius: 10px;
	padding: 20px;
}

#map h1, #map p {
	text-align: center;
}

#map p {
	font-size: 20px;
}

#sighting-list {
	/*border: 5px solid blue;*/
	padding: 10px;
}

#sighting-item {
/*	border: 5px solid yellow;*/
	margin-bottom: 10px;
}

#sighting-info {
	padding: 0px 10px;
	border: 2px solid black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#sighting-bottom {
	border-left: 2px solid black ;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#delete {
	width: 50px;
	margin: auto;
}
a {
	text-decoration: none;
}

p.center {
	text-align: center;
}
