/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*html  {
	height:100%;
}*/


/*h1.green {
	margin-top: 50px;
	margin-bottom: -20px;
}*/

/*.green {
	color: #730001;
}*/
/*top left*/



div.container-bsi {
    position: relative;
    top: -15px;
}
div.top-tab {
    background-color: black;
    width: 310px;
    margin: auto;
    position: relative;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

td.signupbox {

	padding-left: 7%;
	padding-bottom: 12%;
}

table.maintable {
	width: 20%;
 	padding-left: 30px;
}


/*#tableoragnizer {
	margin: 1% 0% 0% 0%;
	width: 10%;
}*/

#signinreplacement {
margin-top: 10%
}
div.signin-bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 0%;
	margin-left: 0%;
}

div.signin-bottom-l {
	margin-top: 10%;
	margin-left: 30%;
}

div.signin-bottom-l div:nth-child(3) {
	background-color: #730001;
	border-radius: 5px;
	/*padding-top: 4px;*/
	width: 100%;
}

div.signin-bottom-l div:nth-child(3) label {
	color: white;
	font-family: "Highway Gothic",verdana, arial, helvetica, sans-serif !important;

}

div.signin-signup {
	height: 25%;
	margin-top: 10px;
	padding-top: 10px;
	background-color: #730001;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-family: "Highway Gothic",verdana, arial, helvetica, sans-serif !important;

}

div.signin-signup a {
	font-size: 13px;
	color: white;
	font-family: "Highway Gothic",verdana, arial, helvetica, sans-serif !important;

}

div.signin-bottom-r {
	margin-right: 9%;
	margin-top: 0%;
	font-size: 6px;
	font-family: "Highway Gothic",verdana, arial, helvetica, sans-serif !important;


}

div.sigin-fyp {
	width: 135px;
	border: 5px solid #730001;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 3px;
}

div.sigin-fyp a {
	color: #730001;
	font-size: 13px;
	font-family: "Highway Gothic",verdana, arial, helvetica, sans-serif !important;

}

div.temp-sightings-index{
	height: 300px;
	width: 300px;
	border: 5px solid black;
	margin: auto;
}

#siteform {
justify-content: center;
text-align: center;
color: #730001;

  padding: 13% 0px 0px 0px;
}


#siteobject {
justify-content: center;
text-align: center;
padding: 0%

}

#storefront {
	height: 100%;
}

.ticket-button {
	display: flex;
  justify-content: center;
  position: relative;
  top: 36px;
  margin-bottom: 36px;
}

#ticketstandard{
	background-size: 100%, 100%;
  font-family: "Highway Gothic",verdana, arial, helvetica, sans-serif !important;
  font-size: 13px;
  color: #530000;
  text-align: center;
  border-radius: 10px;
  line-height: 18px;
  width: fit-content;
	font-size: 18px;
}



#map_custom{
  width: 100%;
  height: 100%;
  border: 0px;
  border-radius: 10px;
}



#separation {
	height: 2.6em;
	width: auto;
}

#signimage{
	background-image: url('signbackgroundimage2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
	width: 100%;
	height: 98vh;
	font-family: 'Highway Gothic',verdana, arial, helvetica, sans-serif !important;
}

#homepage_container, #container-s {
	display: inline-flex;
}

#map {
	border: 5px solid #730001;
	border-radius: 10px;
	width: 300px;
	height: 47vh;
	margin: auto;
}

#sign_in, #container-sl {
	border: 5px solid red;
}

#map h1, #map p {
	text-align: center;
}


a, h1, h2	{
	text-align: center;
	text-decoration: none;
}
#map p {
	font-size: 20px;
}


@font-face {
  font-family: "Highway Gothic";
  src: url(/assets/HWYGOTH.ttf) format("truetype");
}


/*@font-face {
font-family: 'HWYGOTH';
font-style: normal;
font-weight: normal;
src: local('HWYGOTH'), url('HWYGOTH.TTF') format('TTF');
}
@font-face {
font-family: 'Avenir Next LT Pro Heavy Condensed';
font-style: normal;
font-weight: normal;
src: local('HWYGOTH'), url('HWYGOTH.TTF') format('TTF');
}*/

/*background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

html{
	background-image: url("/assets/storefront.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
	height:100%;
}


@media screen and (max-width: 1900px) {
	#signimage {
		width: 375px;
		height: 98vh;
		margin-left: auto;
		margin-right: auto;
	}
		/*body {
			width: 100%;
			height: 100%;
			margin-left: auto;
			margin-right: auto;
		}*/
}
ul {
	list-style: none;
	font-size: 40px;
	font-weight: bold;
	margin-left: 30px;
}

li {
	padding: 20px;
}
/*Ipad 768 x1024
ip 6 plius414 x 736
Nexus 411 x 731
ip 6 375 x 667
Galaxy 360 x 640
Iphone 5 320 x 568*/
div.signin-bottom {
	font-size: 13px;
}
	@media screen and (max-width: 380px) {
	#signimage {
		width: 100%;
		height: 98vh;
		margin-left: auto;
		margin-right: auto;
	}

	div.signin-bottom {
		font-size: 8px;
	}
	#map {
		border: 2px solid #730001;
		border-radius: 10px;
		width: 80%;
		height: 40vh;
	}


		/*body {
			width: 100%;
			height: 100%;
			margin-left: auto;
			margin-right: auto;
		}*/
}


@media screen and (max-width: 327px) {
#signimage {
	width: 100%;
	height: 98vh;
	margin-left: auto;
	margin-right: auto;
}

div.signin-bottom {
	font-size: 10px;
}

div.signin-bottom-r {

	font-size: 10px;
}



#map {
	border: 2px solid #730001;
	border-radius: 10px;
	width: 80%;
	height: 40vh;
}

a {
	font-size: 6px;

}

	/*body {
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}*/
}
