/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

div.header-il {
	position: relative;
	top: 22px;
}

div.container-il {
	position: relative;
	top: -10px;
}

div.header-iln {
	margin-top: 50px;
}