/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

p.sign-out {
	margin-top: -25px;
}

div.sightings-bottom {
	display: flex;
	justify-content: space-between;
}

div.top-tab {
	background-color: black;
	width: 310px;
	margin: auto;
	position: relative;
	top: 22px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

div.top-tab p {
	color: white;
	font-weight: 200;
	font-family: sans-serif;
	font-size: 16px;
	padding: 4px 0;
}

div.container {
	position: relative;
    top: -27px;
}






















