<!DOCTYPE html>
<html>
<head>
  <title>Park_Nark</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>
<body onload='initGeolocation()'>

<%= yield %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBV6NJd2AMZKq9NA6WBV-CeW-KFVTY5l0&callback=initMap"
type="text/javascript"></script>
</body>
</html>
